export("coef.mv_rfit", "mv_rfit", "print.mv_rfit", "summary.mv_rfit", "lincomb.mv_rfit","rstudent.mv_rfit")
export("quad.test","twoway.mvrfit","cwmv")

import(Rfit)

importFrom("stats", "coefficients", "fitted.values", "residuals","rstudent")
importFrom("stats", "coef", "median", "model.matrix", "pchisq", "pf",
           "qt", "var")

S3method(print,mv_rfit.quad.test)
S3method(print,twoway.mvrfit)
S3method(print,mv_rfit)
S3method(print,cwmv)
S3method(summary,mv_rfit)
S3method(coef,mv_rfit)
S3method(rstudent,mv_rfit)

